<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:fragment="nav"
		class="navbar navbar-expand-sm navbar-light bg-light">
		<div class="container-fluid">
			<a href="#" class="navbar-brand">Biblioteca</a>
			<button type="button" class="navbar-toggler"
				data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span cla>
							<a href="/usuario/admin/listar" class="dropdown-item">Usuários</a>
						</div></li>
				</ul>
				<ul th:replace="auth/auth-nav :: nav">
				</ul>
				<!-- adicionado -->
			</div>
		</div>
	</nav>
</body>
</html>



